apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
      version: blue
  template:
    metadata:
      labels:
        app: nginx
        version: blue
    spec:
      containers:
      - name: nginx
        image: nginx:1.28.0
        resources:
          requests:
            cpu: 1m
            memory: 10Mi
          limits:
            cpu: 5m
            memory: 50Mi
        ports:
        - containerPort: 80
