apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-green
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
      version: green
  template:
    metadata:
      labels:
        app: nginx
        version: green
    spec:
      containers:
      - name: nginx
        image: nginx:1.29.3
        resources:
          requests:
            cpu: 1m
            memory: 10Mi
          limits:
            cpu: 1m
            memory: 50Mi
        ports:
        - containerPort: 80
